<div class="category">
  <img class="category__avatar" src="https://angular.io/assets/images/logos/angular/angular.svg">
  <div class="category__info">
    <a href="#" class="category__info__title">Angular</a>
    <p class="category__info__des">Angular is a platform that makes it easy to build applications with the web.</p>
    <ul class="category__info__tags">
      <li>Anglar JS</li>
      <li>Anglar 2</li>
      <li>Anglar 4</li>
      <li>Anglar 5</li>
    </ul>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="12">col-12</div>
  <div nz-col nzSpan="12">col-12</div>
</div>
<div nz-row>
  <div nz-col nzSpan="8">col-8</div>
  <div nz-col nzSpan="8">col-8</div>
  <div nz-col nzSpan="8">col-8</div>
</div>
<div nz-row>
  <div nz-col nzSpan="6">col-6</div>
  <div nz-col nzSpan="6">col-6</div>
  <div nz-col nzSpan="6">col-6</div>
  <div nz-col nzSpan="6">col-6</div>
</div>
