<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">New Questions</h4>
  <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="closeModal('dismiss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="questionText" [ngModelOptions]="{standalone: true}">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-dark" data-dismiss="modal" (click)="onSubmit()">Save</button>
</div>


